<include file="Public/index/head.html" />

	<div class="pr-banner" style="background: url(__PUBLIC__/index/images/aboutus-bnnaer01.jpg) no-repeat center;"></div>

	<div class="pr-cnt">
		<div class="enzyme-top">
			<ul class="abnavbox">
				<li class="nmb01 <eq name="id" value="10">active</eq>">
					<a href="__URL__/about/id/10" class="prnav01 sprite"></a>
				</li>
				<li class="nmb02 <eq name="id" value="11">active</eq>">
					<a href="__URL__/about/id/11" class="prnav02 sprite"></a>
				</li>
				<li class="nmb03 <eq name="id" value="12">active</eq>">
					<a href="__URL__/about/id/12" class="prnav03 sprite"></a>
				</li>
			</ul>
		</div>
		{{$detail.articleContent}}
	</div>

<include file="Public/index/foot.html" />