<include file="Public/index/head.html" />

	<div class="pr-banner" style="background: url(__PUBLIC__/index/images/enzyme-banner01.jpg) no-repeat center;"></div>

	<div class="pr-cnt">
		<div class="enzyme-top">
			<ul class="ennavbox">
				<li class="nmb01 <eq name="id" value="6">active</eq>">
					<a href="__URL__/fertilizer/id/6" class="prnav01 sprite"></a>
				</li>
				<li class="nmb02 <eq name="id" value="7">active</eq>">
					<a href="__URL__/fertilizer/id/7" class="prnav02 sprite"></a>
				</li>
				<li class="nmb03 <eq name="id" value="8">active</eq>">
					<a href="__URL__/fertilizer/id/8" class="prnav03 sprite"></a>
				</li>
				<li class="nmb04 <eq name="id" value="9">active</eq>">
					<a href="__URL__/fertilizer/id/9" class="prnav04 sprite"></a>
				</li>
			</ul>
		</div>
		<div class="en-cnt">
			{{$detail.articleContent}}
		</div>
	</div>

	<div class="pr-cnt">
		<div class="pr-banner" style="background: url(__PUBLIC__/index/images/en-bmbanner.png) no-repeat center;"></div>
	</div>

<include file="Public/index/foot.html" />